body {
  background-color: black;
  color: white;
}

header {
  position: relative;
  width: 100%;
  padding-bottom: 10%; /* Adjust based on image aspect ratio */
  background: url("../assets/hack_the_web.jpg") no-repeat center;
  background-size: cover;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
