/* Global rules */
body {
  background: url("../assets/background.jpg") no-repeat center;
}

.content {
  max-width: 1000px;
  margin: auto;
}

a {
  color: #27d22a;
  margin-left: 10px;
}

a:hover {
  color: #167818;
}

p {
  color:;
}

ul {
  margin-top: 0px;
}

h3 {
  margin-bottom: 0px;
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #27d22a;
}

legend {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  display: inline-block;
  background-color: #96f2ad;
  border-radius: 5px;
}

select {
  background-color: #96f2ad;
  font-family: "Audiowide", sans-serif;
  border-radius: 5px;
}

fieldset {
  border-color: black;
  border-radius: 10px;
}

button {
  background-color: #167818;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  margin: 0 5px;
}

button:hover {
  background-color: #27d22a;
  cursor: pointer;
}

/* .event-image { */
/*   max-width: 45%; */
/*   height: 300px; */
/*   display: inline-block; */
/*   vertical-align: top; */
/*   margin: 0 40px; */
/*   object-fit: cover; */
/*   border-radius: 10px; */
/* } */

/* fonts */
.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  background-color: #96f2ad;
  border-radius: 5px;
}

/* Classes */

.section-temp {
  background-color: #402a2a;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #167818;
  border-radius: 20px 20px / 20px 20px;
  padding: 20px;
  margin-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Section */

#hero-page {
  width: 60%;
  height: 60vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.6)),
    url("../assets/iot_desk.jpg") no-repeat center / cover;
  color: white;
}
/* #header { */
/*   font-family: "Audiowide", sans-serif; */
/*   font-weight: 400; */
/*   font-style: normal; */
/*   position: relative; */
/*   padding-bottom: 5%; */
/*   max-width: 1000px; */
/*   margin: auto; */
/*   text-align: center; */
/* } */
/**/
/* #header-title { */
/*   font-size: 50px; */
/*   color: #27d22a; */
/*   margin-bottom: 0%; */
/* } */
/**/
/* #header-nav { */
/*   display: inline; */
/* } */

/* About Workshop sectios  */
#about-header {
  margin-top: 0px;
  padding-top: 20px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #27d22a;
}

#event-description {
  margin-top: 0px;
}

#event-image {
  max-width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* Signup Section  */
#signup-title {
  color: #27d22a;
  margin-bottom: 0px;
  padding-top: 20px;
  width: 400px;
}

.signup-info {
  float: left;
  width: 140px;
  text-align: left;
}

#signup {
  position: relative;
}

input[type="radio"] {
  accent-color: green;
}
#user-info {
  display: inline-block;
}

#signup-img-div {
  position: absolute;
  left: 60%;
  right: 40%;
  top: 10px;
  bottom: 0;
}

#signup-image {
  width: 250px;
  height: 240px;
  border-radius: 10px;
}

/* Calendar Section */
table,
th,
td {
  border: 1px solid black;
}

table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
}

td {
  width: 25%;
}

#cal-header {
  color: #27d22a;
  padding-top: 20px;
}

small {
  color: #27d22a;
}

/* Footer Section */
footer {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding-bottom: 10%;
  background-size: cover;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#footer-header {
  font-size: 50px;
  color: #27d22a;
  margin-bottom: 0%;
}
